<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="#">Mongo Scraper</a>
  </li>
  <li class="nav-item">
    <button id="scraper"> Scrape New Articles</button>
  </li>
</ul>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Mongo Scraper</h1>
    <p class="lead"></p>
  </div>
</div>

<div class="container">
{{#each news}}
<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{summary}}</p>
    <p class="card-text">{{link}}</p>
  </div>
</div>
{{/each}}
</div>